<div class="search-filter">
    <div class="control-group">
        <div class="filter controls controls-two btn-group-fit">
                <div style="min-height: 28px;"></div>
                <div class="moduletoggle-actions actions">
                <div class="btn-group" data-toggle="buttons-radio">
                    {{#each toggles}}
                        <a type="button" class="btn {{#eq ../options.meta.default toggle}}active{{/eq}}" data-view="{{toggle}}" data-mode="view" rel="tooltip" title="{{str title}}"><i class="{{class}}"></i>{{str title}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<div class="main-contentmodule">
</div>
